/* chekov.css */

/* Speech class styles */
.speech {
    font-family: 'Garamond', sans-serif; /* Choose the desired font for speech */
    font-size: 16px; /* Choose the desired font size for speech */
    color: black; /* Black color for speech text */
  }
  
  /* Direction class styles */
  .direction {
    font-family: 'Arial', sans-serif; /* Choose the desired font for directions */
    font-size: 14px; /* Choose the desired font size for directions */
    color: black; /* Black color for direction text */
    background-color: lightyellow; /* Light background color for directions */
  }
  
  .direction:hover {
    background-color: rgb(11, 14, 12); /* Change background color on hover for directions */
    color: white; /* Change text color on hover for directions */
  }
  
  /* Character name class styles */
  .MARINA {
    color: #ff5733; /* Choose a color for Mary's name */
  }
  
  .TELEGIN {
    color: #3366ff; /* Choose a color for Ollivant's name */
  }
  
  .VOITSKI {
    color: #33cc33; /* Choose a color for Emily's name */
  }
  

  